.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-mute,.flowplayer .fp-embed,.flowplayer .fp-close,.flowplayer .fp-play,.flowplayer .fp-subtitles{
	background-image:url(/c/images/flowplayer/landrover-white.png);
/* 	background-size:19px 112px; */
	background-size: auto;
}
.is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-mute,.is-rtl.flowplayer .fp-embed,.is-rtl.flowplayer .fp-close,.is-rtl.flowplayer .fp-play,.is-rtl.flowplayer .fp-subtitles{
/* 	background-image:url(img/white_rtl.png) */
}
.color-light.flowplayer .fp-fullscreen,.color-light.flowplayer .fp-unload,.color-light.flowplayer .fp-mute,.color-light.flowplayer .fp-embed,.color-light.flowplayer .fp-close,.color-light.flowplayer .fp-play,.color-light.flowplayer .fp-subtitles{
	background-image:url(/c/images/flowplayer/landrover-black.png);
}
.is-rtl.color-light.flowplayer .fp-fullscreen,.is-rtl.color-light.flowplayer .fp-unload,.is-rtl.color-light.flowplayer .fp-mute,.is-rtl.color-light.flowplayer .fp-embed,.is-rtl.color-light.flowplayer .fp-close,.is-rtl.color-light.flowplayer .fp-play,.is-rtl.color-light.flowplayer .fp-subtitles{
/* 	background-image:url(img/black_rtl.png) */
}
/*
@media (-webkit-min-device-pixel-ratio: 2){
	.color-light.flowplayer .fp-fullscreen,.color-light.flowplayer .fp-unload,.color-light.flowplayer .fp-mute,.color-light.flowplayer .fp-embed,.color-light.flowplayer .fp-close,.color-light.flowplayer .fp-play,.color-light.flowplayer .fp-subtitles{
		background-image:url(img/black@x2.png)
	}
	.is-rtl.color-light.flowplayer .fp-fullscreen,.is-rtl.color-light.flowplayer .fp-unload,.is-rtl.color-light.flowplayer .fp-mute,.is-rtl.color-light.flowplayer .fp-embed,.is-rtl.color-light.flowplayer .fp-close,.is-rtl.color-light.flowplayer .fp-play,.is-rtl.color-light.flowplayer .fp-subtitles{
		background-image:url(img/black_rtl@x2.png)
	}
}
@media (-webkit-min-device-pixel-ratio: 2){
	.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-mute,.flowplayer .fp-embed,.flowplayer .fp-close,.flowplayer .fp-play,.flowplayer .fp-subtitles{
		background-image:url(img/white@x2.png)
	}
	.is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-mute,.is-rtl.flowplayer .fp-embed,.is-rtl.flowplayer .fp-close,.is-rtl.flowplayer .fp-play,.is-rtl.flowplayer .fp-subtitles{
		background-image:url(img/white_rtl@x2.png)
	}
}
*/




.flowplayer .fp-fullscreen,.flowplayer .fp-unload,.flowplayer .fp-close{
	width:25px;
	height:25px;
	background-position:0px 0px;
}
.flowplayer .fp-fullscreen:hover,.flowplayer .fp-unload:hover,.flowplayer .fp-close:hover{
	background-position:25px 0px;
}
.is-rtl.flowplayer .fp-fullscreen,.is-rtl.flowplayer .fp-unload,.is-rtl.flowplayer .fp-close{
	right:auto;
	left:5px;
	background-position:0px 0px
}

.flowplayer .fp-unload,.flowplayer .fp-close{
	background-position:0px -200px;
	display:none;
}
.flowplayer .fp-unload:hover,.flowplayer .fp-close:hover{
	background-position:25px -200px;
	display:none;
}

.flowplayer .fp-play{
	display:none;
	width:27px;
	height:20px;
	background-position:0px -74px;
	position:absolute;
	bottom:0;
	left:0;
}
.flowplayer .fp-play:hover{
	background-position:25px -74px;
}
.is-rtl.flowplayer .fp-play{
	background-position:0px -74px;
	left:auto;
	right:0
}
.play-button.flowplayer .fp-play{
	display:block
}
.is-paused.flowplayer .fp-play{
	background-position:0px -49px;
}
.is-paused.flowplayer .fp-play:hover{
	background-position:25px -49px;
}
.is-rtl.is-paused.flowplayer .fp-play{
	background-position:0px -49px;
}
.flowplayer.is-ready.is-closeable .fp-unload{
	display:block
}
.flowplayer.is-ready.is-closeable .fp-fullscreen{
	display:none
}


.flowplayer.is-fullscreen .fp-fullscreen{
	background-position:0px -25px;
	display:block !important;
}
.flowplayer.is-fullscreen .fp-fullscreen:hover{
	background-position:25px -25px;
}
.is-rtl.flowplayer.is-fullscreen .fp-fullscreen{
	background-position:0px -25px
}


.flowplayer .fp-volumeslider{
	width:80px;
	height:5px;
	cursor:col-resize;
	float:left;
}

.flowplayer .fp-mute{
	position:relative;
	width:25px;
	height:20px;
	float:left;
	top:-5px;
	cursor:pointer;
	background-position:0px -105px;
}
.flowplayer .fp-mute:hover{
	background-position:25px -105px;
}
.is-rtl.flowplayer .fp-mute{
	float:right;
	background-position:0px -105px
}

.flowplayer.is-ready.is-muted .fp-mute{
	opacity:1;
	filter:none;
	background-position:0px -130px;
}
.flowplayer.is-ready.is-muted .fp-mute:hover{
	background-position:25px -130px;
}


.flowplayer .fp-embed{
	position:absolute;
	top:5px;
	left:5px;
	display:block;
	width:25px;
	height:20px;
	background-position:3px -237px;
}
.is-rtl.flowplayer .fp-embed{
	background-position:22px -237px;
	left:auto;
	right:5px
}

.flowplayer .fp-subtitles{
	background-position:0px -148px;
}
.flowplayer .fp-subtitles:hover{
	background-position:25px -148px;
}
.is-rtl.flowplayer .fp-subtitles{
	background-position:0px -148px;
}

.subtitles-active.flowplayer .fp-subtitles{
	background-position:0px -173px;
}
.subtitles-active.flowplayer .fp-subtitles:hover{
	background-position:25px -173px;
}
.subtitles-active.is-rtl.flowplayer .fp-subtitles{
	background-position:0px -173px;
}


.flowplayer .fp-subtitle {
	bottom: 20px;
}
.flowplayer .fp-subtitle p {
	display: inline-block;
	background-color: #000000;
	background-color: rgba(0,0,0,0.8);
	font-size: 16px;
	line-height: 20px;
	padding: 3px 5px;
	color: #ffffff !important;
}


.flowplayer.is-fullscreen{background-color:#000;}
.flowplayer .fp-controls{background-color:#333;background-color:rgba(51,51,51,0.6)}
.flowplayer.fixed-controls .fp-controls{background-color:#333}
.flowplayer .fp-timeline{background-color:#666}
.flowplayer .fp-buffer{background-color:#eee}
.flowplayer .fp-progress{background-color:#fc6500}
.flowplayer .fp-volumeslider{background-color:#000}
.flowplayer .fp-volumelevel{background-color:#fff}
.flowplayer .fp-play{height:24px}
.flowplayer.is-touch.is-mouseover .fp-progress:before{background-color:#fc6500}
.flowplayer.color-light .fp-controls{background-color:rgba(255,255,255,0.6)}
.flowplayer.color-light.fixed-controls .fp-controls{background-color:#fff}
.flowplayer.color-light .fp-volumeslider{background-color:#ddd}
.flowplayer.color-light .fp-volumelevel{background-color:#222}
.flowplayer.color-alt .fp-progress{background-color:#fff}
.flowplayer.color-alt.is-touch.is-mouseover .fp-progress:before{background-color:#fff}
.flowplayer.color-alt .fp-buffer{background-color:#999}
.flowplayer.color-alt2 .fp-progress{background-color:#900}
.flowplayer.color-alt2.is-touch.is-mouseover .fp-progress:before{background-color:#900}
