<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
				<meta charset="utf-8">
		<title>我找宣讲会</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://i.alipayobjects.com/i/localhost/ico/201404/2WPSMmbEyj.ico">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/pob-box.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/comment.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/datepicker.css">
		<script type="text/javascript" async="" charset="utf-8" src="./职位搜索 - 阿里巴巴集团招聘_files/core.php"
></script><script type="text/javascript" src="__PUBLIC__/Js/wdatepicker.js"></script><link href=
"__PUBLIC__/Css/WdatePicker.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/Js/sea.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Js/config.js"></script>
        <script src="__PUBLIC__/Js/wb.js" type="text/javascript" charset="utf-8"></script>
<script charset="UTF-8" src="__PUBLIC__/Js/bundle.js"></script><script charset="UTF-8" src="__PUBLIC__/Js/iframeWidget.js"
></script><link rel="stylesheet" type="text/css" href="chrome-extension://emajkockhmibmpnkbohiipfidkifdjhp/style.css" media=
"screen"></head>
<body youdao="bind"><iframe style="display: none;" id="sina_anywhere_iframe"></iframe>
	<!-- head:S -->
	<div class="head">
		<div class="head-main">
			<div class="head-menu">
				<div class="login">
					欢迎来到我找宣讲会！
					<span id="J-login">
																		<a href="
#">登录</a> 
							| <a href="#">注册</a>
																</span>   
				</div>
				<ul class="lavalamp" id="menu">
					<li><a href="{:U(index)}">首 &nbsp;&nbsp;页</a></li>
					
					<li class="back" id="slide" style="width: 90px; left: 503px;"></li>
				</ul>
			</div>
			
		</div>
	</div>
	<script src="__PUBLIC__/Js/mini-login-embedderV2-min.js"></script>
<div class="banner">
    <!-- TMS:S -->
    <div class="slidebox" id="J_Slidebox" align="center" style="font-size:80px;background-color:#ffffff">我找宣讲会!
        <div class="slidebtn"><li class="rounded"></li><li class="rounded"></li><li class="rounded"></li><li class="rounded"
></li><li class="rounded"></li><li class="rounded current"></li><li class="rounded"></li></div>
    </div>
    <!-- TMS:E -->
</div>